med-inventory-alert-workflow.json
{
    "nodes": [
      {
        "parameters": {
          "cronExpression": "0 8 * * *"
        },
        "name": "Ежедневная проверка в 8:00",
        "type": "n8n-nodes-base.cron",
        "typeVersion": 1,
        "position": [250, 300]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  d.name AS drug_name,\n  w.name AS warehouse_name,\n  pt.name AS package_type,\n  s.quantity,\n  s.daily_usage,\n  s.threshold\nFROM stock s\nJOIN drugs d ON s.drug_id = d.id\nJOIN warehouses w ON s.warehouse_id = w.id\nJOIN package_types pt ON d.package_type_id = pt.id\nWHERE s.quantity < s.threshold OR (s.daily_usage > 0 AND s.quantity::FLOAT / s.daily_usage < 3);"
        },
        "name": "Чтение критических позиций из БД",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2,
        "position": [450, 300],
        "credentials": {
          "postgres": "medinventory-db"
        }
      },
      {
        "parameters": {
          "functionCode": "const results = [];\n\nfor (const item of items) {\n  const { drug_name, warehouse_name, package_type, quantity, daily_usage, threshold } = item.json;\n\n  const daysLeft = daily_usage > 0 ? (quantity / daily_usage).toFixed(1) : '∞';\n  const isLowStock = quantity < threshold;\n  const isCritical = daily_usage > 0 && quantity / daily_usage < 3;\n\n  if (isLowStock || isCritical) {\n    results.push({\n      json: {\n        ...item.json,\n        days_left: daysLeft,\n        alert_reason: isLowStock && isCritical\n          ? 'низкий остаток + скоро закончится'\n          : isLowStock\n          ? 'остаток ниже порога'\n          : 'закончится менее чем через 3 дня'\n      }\n    });\n  }\n}\n\nreturn results;"
        },
        "name": "Анализ и форматирование",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [650, 300]
      },
      {
        "parameters": {
          "message": "⚠️ Низкий запас на складе!\n\n💊 Препарат: {{$json[\"drug_name\"]}}\n📦 Упаковка: {{$json[\"package_type\"]}}\n🏢 Склад: {{$json[\"warehouse_name\"]}}\n🔢 Остаток: {{$json[\"quantity\"]}}\n📉 Расход: {{$json[\"daily_usage\"]}}/день\n⏳ Закончится через: {{$json[\"days_left\"]}} дней\n❗ Причина: {{$json[\"alert_reason\"]}}\n\n👉 Требуется пополнение!",
          "additionalFields": {
            "chatId": "YOUR_TELEGRAM_CHAT_ID"
          }
        },
        "name": "Отправка в Telegram",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1,
        "position": [850, 300],
        "credentials": {
          "telegramApi": "telegram-bot"
        }
      }
    ],
    "connections": {
      "Ежедневная проверка в 8:00": {
        "main": [
          [
            {
              "node": "Чтение критических позиций из БД",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Чтение критических позиций из БД": {
        "main": [
          [
            {
              "node": "Анализ и форматирование",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Анализ и форматирование": {
        "main": [
          [
            {
              "node": "Отправка в Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }