workflows/stock-chart.json
{
  "name": "stock-chart",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1632,
        -624
      ],
      "id": "cd5c369e-499e-4a90-b166-9bc6e753e5bd",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  d.name AS drug_name,\n  dss.snapshot_date::DATE AS date,\n  dss.quantity\nFROM daily_stock_snapshot dss\nJOIN drugs d ON dss.drug_id = d.id\nwhere dss.warehouse_id = 1\n\tand dss.snapshot_date :: date > '2025-01-01'\norder by dss.snapshot_date;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1392,
        -416
      ],
      "id": "63885910-a680-4465-8ba5-cd9dc830c206",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "atKdRxWDzhDXYkku",
          "name": "medinventory-db"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.all();\n\nif (inputData.length === 0) {\n  return [];\n}\n\n// Сcollecting dates\nconst allDates = [...new Set(inputData.map(i => i.json.date))].sort();\nconst lastDateStr = allDates[allDates.length - 1];\nconst lastDate = new Date(lastDateStr);\nconst nextDate = new Date(lastDate);\nnextDate.setDate(nextDate.getDate() + 1);\nconst forecastDate = nextDate.toISOString().split('T')[0];\nconst fullLabels = [...allDates, forecastDate];\n\n// grouping\nconst byDrug = {};\nfor (const item of inputData) {\n  const d = item.json;\n  const drug = d.drug_name;\n  const date = d.date;\n  const qty = parseFloat(d.quantity) || 0; // to digit\n  if (!byDrug[drug]) byDrug[drug] = {};\n  byDrug[drug][date] = qty;\n}\n\nconst datasets = [];\n\nfor (const [drug, dateMap] of Object.entries(byDrug)) {\n  // a fact\n  const actualData = fullLabels.map(date => {\n    if (date === forecastDate) return null;\n    return dateMap[date] != null ? dateMap[date] : null;\n  });\n\n  // last value is forecast\n  let lastVal = 0;\n  for (let i = actualData.length - 2; i >= 0; i--) {\n    if (actualData[i] != null) {\n      lastVal = actualData[i];\n      break;\n    }\n  }\n  const forecastData = fullLabels.map(date =>\n    date === forecastDate ? lastVal : null\n  );\n\n  // color\n  let hash = 0;\n  for (let i = 0; i < drug.length; i++) {\n    hash = drug.charCodeAt(i) + ((hash << 5) - hash);\n  }\n  const color = '#' + Math.abs(hash).toString(16).substring(0, 6).padStart(6, '0');\n\n  datasets.push({\n    label: drug + ' (факт)',\n     data: actualData,\n    borderColor: color,\n    fill: false,\n    pointRadius: 3\n  });\n\n  datasets.push({\n    label: drug + ' (прогноз)',\n     data: forecastData,\n    borderColor: color,\n    pointBackgroundColor: '#FF0000',\n    pointRadius: 7,\n    pointStyle: 'diamond',\n    fill: false,\n    showLine: false\n  });\n}\n\nreturn [{\n  json: {\n    chart: {\n      type: 'line',\n      data: {\n        labels: fullLabels,\n        datasets: datasets\n      },\n      options: {\n        scales: {\n          y: { beginAtZero: true },\n          x: { display: true }\n        }\n      }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        -416
      ],
      "id": "f764302c-940d-41fe-bec4-7f3ff103b241",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://quickchart.io/chart",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -688,
        -416
      ],
      "id": "f37d1dba-6bad-4ef0-878b-3098ee1be6ae",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "1176202075",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -448,
        -416
      ],
      "id": "c581d708-63e0-4add-a47a-b1df0b0b973a",
      "name": "Send a photo message",
      "webhookId": "5a81ef10-fe3a-472f-bac1-f4c149c03ec1",
      "credentials": {
        "telegramApi": {
          "id": "Y15VPZdsdzBkp3KB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                2,
                3,
                4,
                5
              ],
              "triggerAtHour": 9
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1632,
        -416
      ],
      "id": "36a35bb2-efc6-4def-9c55-61bfd96f287a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.all();\n\n// group by drug\nconst byDrug = {};\nfor (const item of inputData) {\n  const d = item.json;\n  const drug = d.drug_name;\n  const date = d.date.split('T')[0];\n  const qty = d.quantity || 0;\n  if (!byDrug[drug]) byDrug[drug] = { dates: [], quantities: [] };\n  byDrug[drug].dates.push(date);\n  byDrug[drug].quantities.push(qty);\n}\n\nconst result = [];\n\n// for each drug\nfor (const [drug, data] of Object.entries(byDrug)) {\n  // date sorting\n  const sorted = data.dates\n    .map((d, i) => ({ date: d, qty: data.quantities[i] }))\n    .sort((a, b) => a.date.localeCompare(b.date));\n\n  // that for MA\n  const values = sorted.map(p => p.qty);\n  const ma = values.reduce((a, b) => a + b, 0) / values.length;\n\n  // last date - nextday\n  const lastDate = new Date(sorted[sorted.length - 1].date);\n  const nextDay = new Date(lastDate);\n  nextDay.setDate(nextDay.getDate() + 1);\n  const nextDateStr = nextDay.toISOString().split('T')[0];\n\n  // adding points\n  for (const point of sorted) {\n    result.push({ drug_name: drug, date: point.date, quantity: point.qty });\n  }\n\n  // adding forecast points\n  result.push({ drug_name: drug, date: nextDateStr, quantity: parseFloat(ma.toFixed(2)) });\n}\n\nreturn result.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        -752
      ],
      "id": "3d7cf06e-2c84-4d79-8857-83c6401ef776",
      "name": "Code in JavaScript with MA"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript with MA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript with MA": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "87c5967a-cf15-40d9-ba25-65cb93f60379",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e23a5978e6ea9ed59a73427fff5ecc70f24669c3c4d7c9cdedbb05f32695749d"
  },
  "id": "q0PRtHubgNohXOVc",
  "tags": []
}