workflows/Импорт CSV → daily_stock_snapshot.json
{
  "name": "Импорт CSV → daily_stock_snapshot",
  "nodes": [
    {
      "parameters": {
        "functionCode": "const results = [];\n\nfor (const item of items) {\n  const { drug_id, warehouse_id, quantity } = item.json;\n  results.push({\n    json: {\n      drug_id: drug_id,\n      warehouse_id: warehouse_id,\n      quantity: parseInt(quantity, 10),\n      snapshot_date: new Date().toISOString().split('T')[0],\n      source_type: 'csv'\n    }\n  });\n}\n\nreturn results;"
      },
      "name": "Сборка финального объекта",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        400,
        128
      ],
      "id": "32ab3f54-74ea-4b06-8e36-f51703ae6395"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": "daily_stock_snapshot",
        "options": {}
      },
      "name": "Запись в daily_stock_snapshot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        576,
        128
      ],
      "id": "71632899-2f55-4c9a-a158-1c336998197a",
      "credentials": {
        "postgres": {
          "id": "atKdRxWDzhDXYkku",
          "name": "medinventory-db"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/data/stock_report.csv",
        "options": {
          "mimeType": "data",
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -400,
        -208
      ],
      "id": "85a11f62-f97b-4d8b-9ab0-395eb75f17f2",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "options": {
          "delimiter": ",",
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -64,
        -48
      ],
      "id": "4ba4dd4f-77f5-4d4e-b066-dc7a5bbda8ad",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  d.id AS drug_id,\n  w.id AS warehouse_id,\n  '{{$json[\"quantity\"]}}'::INT AS quantity\nFROM drugs d\nJOIN warehouses w ON w.name = '{{$json[\"warehouse_name\"]}}'\nWHERE d.name = '{{$json[\"drug_name\"]}}'",
        "options": {
          "connectionTimeout": 30
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        144,
        -48
      ],
      "id": "e57d1dc3-9108-4af3-abe5-f3c5a8d5f67d",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "YMm88yQI7M18lNM2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                2,
                3,
                4,
                5
              ],
              "triggerAtHour": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -608,
        -208
      ],
      "id": "d2076ac4-dae2-4775-92ad-e4038bb48393",
      "name": "Schedule Trigger1"
    }
  ],
  "pinData": {},
  "connections": {
    "Сборка финального объекта": {
      "main": [
        [
          {
            "node": "Запись в daily_stock_snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Сборка финального объекта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "df045c97-64b6-4a38-acbf-2ca4e67960d6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e23a5978e6ea9ed59a73427fff5ecc70f24669c3c4d7c9cdedbb05f32695749d"
  },
  "id": "4wzp5zDlm5Sr5vQP",
  "tags": []
}